body {
  color: #F4F4F4;
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

header {
  padding: 60px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}

.header-links {
  display: inline;
  float: right;
  margin: 18px 0;
}

.header-links p {
  display: inline;
  padding: 18px 30px;
  margin: 0;
}

.header-links a:hover {
  color: hsl(198, 60%, 50%);
}

header a {
  text-decoration: none;
  color: inherit;
}

.top-container {
  background-color: hsl(217, 28%, 15%);
  text-align: center;
  height: 1100px;
  position: relative;
}

.top-container-content {
  position: relative;
  top: 0;
  z-index: 1;
}

h1 {
  width: 600px;
  margin: 40px auto;
  font-family: 'Raleway', sans-serif;
}

h2 {
  padding-top: 200px;
  font-family: 'Raleway', sans-serif;
}

h5 {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

h6 {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.intro-illustration {
  width: 600px;
  display: block;
  margin: 0 auto;
}

.top-tagline {
  width: 440px;
  margin: 0 auto;
  line-height: 1.5;
}

.btn-get-started {
  display: inline-block;
  background-color: hsl(198, 60%, 50%);
  padding: 10px 60px;
  margin: 30px auto 0;
  border-radius: 25px;
  color: #F4F4F4;
  text-decoration: none;
  text-align: center;
}

.background-design {
  position: absolute;
  bottom: -10px;
}

.background-design img {
  width: 100%;
}

.see-how-fylo-works a {
  text-decoration: none;
}

.see-how-fylo-works p {
  display: inline-block;
}

.middle-container-1 {
  background-color: hsl(218, 28%, 13%);
  margin: 0;
  text-align: center;
}

.labels-level-1 {
  padding: 20px 20px 60px;
  width: 390px;
  height: 200px;
  line-height: 1.5;
  display: inline-block;
}

.labels-level-1 img {
  height: 60px;
}

.labels-level-1 h4 {
  margin: 20px 0 10px;
}

.labels-level-1 p {
  margin: 0;
}

.labels-level-2 {
  padding: 20px 20px 60px;
  width: 390px;
  height: 200px;
  line-height: 1.5;
  display: inline-block;
}

.labels-level-2 img {
  height: 60px;
}

.labels-level-2 h4 {
  margin: 20px 0 10px;
}

.labels-level-2 p {
  margin: 0;
}

.middle-container-2 {
  background-color: hsl(218, 28%, 13%);
  margin: 0;
  padding-top: 30px;
  height: 550px;
}

.middle-illustration {
  float: left;
  height: 415px;
  margin: 50px 50px 50px 100px;
}

.middle-container-2-content h1 {
  margin: 0 100px 0 0;
  padding-top: 150px;
  padding-bottom: 15px;
  display: inline-block;
}

.middle-container-2-content p {
  margin: 20px 100px;
  text-align: left;
}

.see-how-fylo-works {
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 21px;
}

.see-how-fylo-works p {
  margin: 0;
  color: #62E0D9;
}

.see-how-fylo-works img {
  float: right;
  margin-top: 1px;
}

.see-how-fylo-works hr {
  margin: 0;
  border-color: #62E0D9;
}

.middle-container-3 {
  background-color: hsl(218, 28%, 13%);
  margin: 0;
  padding-top: 100px;
  padding-bottom: 45px;
  text-align: center;
}

.quotes-icon {
  position: relative;
  left: -565px;
}

.testimonials-container {
  position: relative;
  top: -35px;
}

.testimonial-container {
  background-color: hsl(219, 30%, 18%);
  height: 137px;
  width: 300px;
  padding: 30px;
  margin: 20px;
  display: inline-block;
  box-shadow: 5px 5px 18px #1C1C1C;
  border-radius: 5px;
}

.testimonial-container p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: left;
}

.testimonial-container h5 {
  margin: 0 0 5px;
}

.testimonial-container h6 {
  margin: 0;
}

.testimonial-container img {
  border-radius: 50%;
  width: 30px;
  float: left;
  margin-right: 15px;
}

.subscription-container {
  position: relative;
  top: 150px;
  background-color: hsl(217, 28%, 15%);
  margin: 0 auto 0 auto;
  width: 701px;
  height: 150px;
  box-shadow: 5px 5px 18px #1C1C1C;
  border-radius: 5px;
  padding: 40px 10px;
  text-align: center;
}

.subscription-container h2 {
  margin: 0 0 20px 0;
  padding: 0;
}

.subscription-container p {
  margin: 0 auto 25px auto;
  line-height: 1.5;
  width: 580px;
}

.subscription-container form {
  display: inline-block;
}

.subscription-container input {
  margin: 0;
  border-radius: 20px;
  padding: 10px 15px;
  width: 400px;
}

.btn-get-started-free {
  margin: 0 0 0 20px;
  background-color: hsl(198, 60%, 50%);
  border-radius: 20px;
  padding: 10px 25px;
  text-decoration: none;
  color: inherit;
}

.bottom-container {
  background-color: hsl(216, 53%, 9%);
  padding-top: 200px;
  height: 250px;
  width: 100%;
}

.bottom-container-logo {
  display: block;
  margin-left: 100px;
  margin-bottom: 25px;
}

.bottom-sub-container-1 {
  float: left;
  width: 39%;
}

.bottom-sub-container-1 img {
  float: left;
  margin: 14px 25px 150px 100px;
}

.bottom-sub-container-1 p {
  width: 80%
}

.bottom-sub-container-2 {
  float: left;
  width: 23%;
}

.bottom-sub-container-2 img {
  float: left;
  margin-left: 5px;
}

.bottom-sub-container-2-phone p {
  margin-left: 50px;
}

.bottom-sub-container-2-email img {
  margin-top: 2px;
}

.bottom-sub-container-2-email a {
  color: #F4F4F4;
  text-decoration: none;
  margin: 14px 0 14px 30px;
}

.bottom-sub-container-3 {
  float: left;
  width: 10%;
}

.bottom-sub-container-3 a {
  text-decoration: none;
  color: #F4F4F4;
  margin-left: 5px;
}

.bottom-sub-container-4 {
  float: left;
  width: 10%;
}

.bottom-sub-container-4 a {
  text-decoration: none;
  color: #F4F4F4;
  margin-left: 5px;
}

.bottom-sub-container-5 {
  float: left;
  width: 18%;
  text-align: center;
}

.bottom-sub-container-5 img {
  width: 20px;
  margin: 15px 4% 5px 4%;
}

footer {
  background-color: hsl(216, 53%, 9%);
}

footer p {
  margin: 0;
  padding: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
